.idea/
static/
coverage/
node_modules
update.tar.gz
yarn.error
dist
src/**/*.js
src/**/*.js.map
!src/client/lib/*.js
!src/server/service/thrift/
!src/server/thrift/dist/
!src/server/thrift/dist/*.js
!src/server/thrift/mock/
!src/server/thrift/mock/**/*.js
.DS_Store
.audit.json
log
*.log
stat.json
